ABBYY==0.3
argcomplete==1.12.3
argon2-cffi==21.1.0
atomicwrites==1.4.0
attrs==21.2.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
bleach==4.1.0
blis==0.4.1
boto3==1.15.18
botocore==1.18.18
bs4==0.0.1
CacheControl==0.12.6
cachy==0.3.0
catalogue==1.0.0
certifi==2021.5.30
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.4
cleo==0.8.1
click==8.0.3
clikit==0.6.2
colorama==0.4.4
crashtest==0.3.1
crypto==1.4.1
cycler==0.11.0
cymem==2.0.5
Cython==0.29.10
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.2
entrypoints==0.3
et-xmlfile==1.1.0
filelock==3.0.12
html5lib==1.1
idna==2.7
imageio==2.10.3
importlib-metadata==1.7.0
iniconfig==1.1.1
ipykernel==6.4.2
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.0.2
jmespath==0.10.0
joblib==1.1.0
numpy==1.17.3
py==1.11.0
regex==2021.11.10
requests==2.20.0
requests-toolbelt==0.9.1
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.4.1
six==1.16.0
sklearn==0.0

